@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: #F4F4F4;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Sarala', sans-serif;
  color: #0d346b;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  height: 70%;
  background-color: #FFFFFF;
}

/*CABEÇALHO*/
header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: white;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 4px 4px grey;
}

.titulo a {
  display: flex;
}

a {
  text-decoration: none;
}

header h1 {
  color: #0d346b;
  font-style: italic;
}

/*MENU*/
nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  list-style: none;
  padding: 5px;
  color: rgb(129, 127, 127);
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 187, 234);
}

.menu::after {
  content: "";
  position: absolute;
  left: 940px;
  margin-top: 30px;
  border-radius: 5px;
  display: block;
  width: 5px;
  height: 5px;
}

header::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
}

.imgRodape {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
  padding-top: 12px;
  -webkit-box-shadow: 0px 0px 4px 4px grey;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 39px;
  background: #f4f4f4;
}

section input{
  padding-left: 3px;
}

.cadastre {
  text-decoration: none;
}

.cadastre:hover {
  color: blue;
}

.img {
  margin: 14px;
}

.redefinirSenha {
  text-decoration: none;
}

.redefinirSenha:hover {
  color: blue;
}

.redefinirSenha {
  margin-top: 46px;
}


.conteudos {
  width: 470px;
  height: 470px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 1em rgb(158, 157, 157);
  margin-top: 59px;
}

.conteudos h1 {
  border-bottom: 0.9px solid #000000;
  width: 100%;
  margin-bottom: 12px;
}

.conteudos p {
  padding: 6px;
}

.input {
  width: 360px;
  height: 35px;
  border-radius: 5px;
}

.botao {
  background-color: #0d346b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 130px;
  cursor: pointer;
  position: relative;
  left: 260px;
  top: 15px;
  transition: all .9s;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  border-radius: 15px;
  border: none;

}

.botao:hover {
  content: "";
  background: #FFFFFF;
  color: #0d346b;
  border: 1.5px solid #0d346b;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #0d346b;
  background-color: #ffffff;
  height: 32px;
  box-shadow: 0px 0px 4px 4px grey;
}

.input-checkbox100 {
  display: none;
}

.lembrarSenha {
  font-size: 17.5px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.lembrarSenha::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked+.lembrarSenha::before {
  color: #6675df;
}

@media (max-width: 992px) {
  .cadastro {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .rodape {
    justify-content: row;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .cadastro {
    width: 100%;
  }

  .rodape {
    justify-content: row;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .cadastro {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }

  .rodape {
    justify-content: row;
    text-align: center;
  }
}